section.page__main
  .container
    .logo.logo-keyboard
    h1.title-slogan We do not deploy
    .title-when on friday

    .blockquote-author Tome Of Unsinkable Wisdoms Sayes:
    blockquote.blockquote
      |“One picture is better than a thousand words.
      br
      |One clickable prototype is even better.”
= partial "layouts/partials/footer"
